

<form asp-action="Delete"method="post" >

    <p>Are You sure that you want to delete</p>
    <input type="submit" value="Delete" class="btn btn-danger m-3" />
    <a asp-action="Index" class="btn btn-warning m-3">Cancel</a>
</form>
